 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("/images/8dbbfad9236ad32970a4e60a98e6d419165cc5a8f3f1067a8993ab36de8263c2d0e55b37ef9d4859f02577209a54671ce76e3282a4f2673442892b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 237px 436px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 31px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 243px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 722px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -48px auto 0 60px;
}

.u-section-2 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -48px auto 0 60px;
}

.u-section-2 .u-text-4 {
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -48px auto 0 60px;
}

.u-section-2 .u-text-6 {
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 10px 10px;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -48px auto 0 60px;
}

.u-section-2 .u-text-8 {
  margin: 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 447px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(127, 103, 94) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 595px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 26px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 276px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 59px auto 59px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  width: 138px;
  height: 91px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-2 {
  width: 138px;
  height: 105px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-3 {
  width: 138px;
  height: 111px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-4 {
  width: 138px;
  height: 86px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-5 {
  width: 138px;
  height: 67px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-6 {
  width: 138px;
  height: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 114px;
    height: 75px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 114px;
    height: 87px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 114px;
    height: 92px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 114px;
    height: 71px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 114px;
    height: 55px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    width: 114px;
    height: 69px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-3 .u-image-1 {
    width: 87px;
    height: 57px;
  }

  .u-section-3 .u-image-2 {
    width: 87px;
    height: 66px;
  }

  .u-section-3 .u-image-3 {
    width: 87px;
    height: 70px;
  }

  .u-section-3 .u-image-4 {
    width: 87px;
    height: 54px;
  }

  .u-section-3 .u-image-5 {
    width: 87px;
    height: 42px;
  }

  .u-section-3 .u-image-6 {
    width: 87px;
    height: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 82px;
    height: 54px;
  }

  .u-section-3 .u-image-2 {
    width: 82px;
    height: 62px;
  }

  .u-section-3 .u-image-3 {
    width: 82px;
    height: 66px;
  }

  .u-section-3 .u-image-4 {
    width: 82px;
    height: 51px;
  }

  .u-section-3 .u-image-5 {
    width: 82px;
    height: 40px;
  }

  .u-section-3 .u-image-6 {
    width: 82px;
    height: 50px;
  }
}